.show-menu{
    display: flex;
    width: 80%;
    height: auto;
    background-color: #86b5ff;
    flex-wrap: wrap;
    margin: auto;
    border: azure solid 2px;
    border-radius: 20px;
}

.form{
    width: 99%;
}

.search{
    display: flex;
    width: 100%;
    height: 50px;
    margin: 4px 4px 4px 4px;
    border: #334155 solid 2px;
    border-radius: 20px;
    align-items: center;
}

.searching-tools{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
}

.searching-tools input{
    width: 40%;
    height: 80%;
    border: #334155 1px solid;
    border-radius: 15px;
    background-color: #5885c7;
    margin: 7px 8px 8px 8px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s;
}

.searching-tools input:hover,
.searching-tools select:hover,
.button-search:hover{
    transform: scaleX(1.08);
}

.searching-tools input::placeholder{
    color: black;
    text-align: center;
    padding: auto;
}

.searching-tools select{
    height: 80%;
    width: 15%;
    border: #334155 1px solid;
    border-radius: 15px;
    background-color: #5885c7;
    margin: 8px 8px 8px 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    transition: 0.3s;
}

.button-search{
    /* background-color: red; */
    display: flex;
    height: 100%;
    width: 10%;
    justify-content:right;
    align-items: center;
    transition: 0.3s;
}

.button-search button{
    height: 80%;
    width: 70px;
    border: #334155 1px solid;
    border-radius: 15px;
    background-color: #15803D;
    margin: 8px 8px 8px 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.menu{
    display: flex;
    width: 80%;
    margin: 4px 4px 4px 4px ;
    flex-direction: column;
}

.product{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin: 4px 4px 4px 4px;
    border: #334155 solid 2px;
    border-radius: 15px;
    padding: 4px 4px 4px 4px;
    transform-origin: left center;
    transition: transform 0.2s ease;
}

.product:hover {
    transform: translateX(10px);
}
.buttons button{
    width: 50px;
    height: 50px;
    border: #334155 solid 2px;
    border-radius: 12345px;
    transition: 0.2s;
}

.edit-btn,
.info-btn{
    transition: 0.2s;
}

.edit-btn:hover{
    background-color: #D97706;
    transform: scale(1.1);
}

.info-btn:hover{
    background-color: #1D4ED8;
    transform: scale(1.1);
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

.pages{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 20px 0 20px;
    /* background-color: red; */
}

.pages p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #DC2626;
    background-color: #86b5ff;
    border: #334155 2px solid;
    border-radius: 20px;
    font-size: 36px;
}

.pages a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: black;
    background-color: #86b5ff;
    border: #334155 2px solid;
    border-radius: 20px;
    font-size: 36px;
}

/* modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.modal-view h1,
.modal-edit h1{
    font-size: 20px;
}

.modal {
    display: none;
}

.modal.active {
    display: flex;
}


.modal-view,
.modal-edit {
    display: none;
}


.modal-view.active,
.modal-edit.active {
    display: flex;
}

.modal-view,
.modal-edit
{
    display: none;
    flex-wrap: wrap;
    background: #86b5ff;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    border: #334155 solid 3px;

}

.modal-view p,
.modal-edit p{
    background-color: #5885c7;
    border: #5885c7 solid 5px;
    border-radius: 20px;
}

.modal-view h2,
.modal-edit h2{
    width: 100%;
    text-decoration: underline;
}

.modal-text{
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.modal-toggle{
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.close{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.close button{
    width: 60px;
    height: 30px;
    border: black solid 1px;
    border-radius: 12345px;
    background-color: #DC2626;
    transition: 0.2s;
}

.close button:hover{
    transform: scale(1.2);
    background-color: #941a1a;
}

.modal-input{
    padding: 10px 10px 10px 10px ;
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 4px 4px 4px 4px;
    height: 150px;
}

label{
    height: 28px;
    display: flex;
    width: max-content;
    background-color: #5885c7;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: #5885c7;
    border-radius: 10px;
    margin: 4px 4px 4px 4px;
    text-decoration: underline;
}

.inputs input{
    width: 100%;
    height: 30px;
    border: #334155 solid 2px;
    border-radius: 20px;
    background-color: #5885c7;
    transition: 0.2s;
}

.inputs input:hover{
    transform:scale(1.05);
}

.selections {
    display: flex;
    flex-wrap: wrap;
    width: 47%;
    height: 37px;
    justify-content: space-between;
    height: 150px;
    margin-right: 10px;
}

.selections select{
    width: 100%;
    background-color: #5885c7;
    border: #334155;
    border-radius: 20px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.2s;
}

.selections select:hover{
    transform: scale(1.1);
}

.checkbox{
    display: flex;
    width: 50%;
    height: 37%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    transition: 0.2s;
}

.button-save{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
}

.button-save button{
    width: 150px;
    height: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: #15803D;
    border:#15803D;
    border-radius: 10px;
    transition: 0.2s;
}


.button-save button:hover{
    transform: scale(1.2);
    background-color: #2ac262;
}

