{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block link %}
            
        {% endblock link %}
        
        {% block script %}
            
        {% endblock script %}
            
        <title>
            {% block title %}
                
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            {% if nav %}
                <nav>
                    <div class="links">
                        {% if not user.is_authenticated %}
                            <a href="{% url 'signin' %}">Sign In</a>
                            <a href="{% url 'signup' %}">Sign Up</a>
                        {% else %}
                            <a href="{% url 'home' %}">Home</a>
                            <a href="{% url 'product_show' %}">Products</a>
                        {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                        <div class="log-out">
                            <form action="{% url 'signout' %}" method="post">
                                {% csrf_token %}
                                <button>
                                    Logout
                                </button>
                            </form>
                        </div>
                    {% endif %}
                </nav>
            {% endif %}
        </header>
        <main>
            {% for group in user.groups.all %}
                <p>
                    Role: {{ group.name }}
                </p>
            {% endfor %}
            {% block content %}
                
            {% endblock content %}
        </main>
        <footer>

        </footer>
    </body>
</html>