.form{
    width: 400px;
    height: 575px;
    display: flex;
    margin: auto;
    background-color: #86b5ff;
    border: solid 5px #334155;
    border-radius: 25px;
    flex-wrap: wrap;
}

.links{
    margin-top: 10px;
    display: flex;
    width: 400px;
    height: 75px;
    /* background-color: blue; */
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.another{
    text-decoration: none;
    color: #334155;
    font-size: 26px;
    transition: transform 0.3s ease;
}

.another:hover{
    transform: scale(1.2);
    color: #2363bd;
}

.current{
    text-decoration: none;
    color: #334155;
    font-size: 26px;
    text-decoration: underline;
    transition: transform 0.3s ease;
}

.current:hover{
    transform: scale(1.2);
    color: #2363bd;
}

hr{
    height: 1px;
    width: 390px;
}

form{
    display: flex;
    flex-wrap: wrap;
    align-items:start;
    width: 400px;
    height: 500px;
}

form p input{
    height: 26px;
    width: 300px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #334155;
    border: 2px #F8FAFC solid;
    border-radius: 20px;
    color: azure;
    transition: transform 0.3s ease;
}

form p input:hover{
    transform: scale(1.05) ;
}

form p label{
    margin-left: 20px;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
}

.button{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button button{
    width: 150px;
    height: 40px;
    border: 2px solid #15803D;
    border-radius: 25px;
    background-color: #22C55E;
    color: azure;
    transition: transform 0.3s ease;
}

.button button:hover{
    transform: scale(1.2);
    border: 2px solid #22C55E;
    background-color: #15803D;
}