{% extends 'base.html' %}
{% load static %}

{% block title %}
    SignIn
{% endblock title %}
    

{% block link %}
    <link rel="stylesheet" href="{% static 'signup/signup.css' %}">
{% endblock link %}
    

{% block content %}
    <div class="form">
        <div class="links">
            <a href="{% url 'signin' %}" class="current">Sign In</a>
            <a href="{% url 'signup' %}" class="another">Sign UP</a>
            <a href="{% url 'home' %}" class="another">Home</a>
            <hr>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button">
                <button type="submit">
                    SIGN IN 
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
    